<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
	  <PublishSingleFile>true</PublishSingleFile>
	  <PublishTrimmed>false</PublishTrimmed>
	  <PublishReadyToRun>true</PublishReadyToRun>
	  <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
	  <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
	  <PublishDir>..\..\artifacts\publish\EternalLoop-1.3.0-win-x64\</PublishDir>
  </PropertyGroup>
</Project>
